[package]
name = "uplink-android"
version = "0.1.0"
edition = "2021"

[dependencies]
android_logger = "0.10"
figment = { version = "0.10.6", features = ["toml", "json"] }
flume = "0.10.9"
jni-sys = "0.3"
log = "0.4"
log-panics = "2.0"
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
uplink = { git = "https://github.com/bytebeamio/uplink" }
buildstructor = "0.3.2"

[lib]
name = "uplink_android"
crate-type = ["lib", "cdylib"]

[build-dependencies]
flapigen = "0.6.0-pre7"
